body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
}

.types-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pokemonImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.types-list p {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

#popup-container {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

#popup {
  position: absolute;
  top: 25%;
  display: flex;
  z-index: 100;
  flex-direction: column;
  width: 20rem;
  height: 30rem;
  border-radius: 30px 30px 0px 0px;
}

#pokemon-popup-name {
  padding: 15px;
  color: white;
}

#pokemon-image {
  padding: 15px;
  height: 10rem;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  height: 12.2rem;
  border-radius: 20px 20px 0px 0px;
}

#abbilities {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#popup-types-list p {
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}

.grass {
  background-color: #78c850;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.bug {
  background-color: #a8b820;
}

.normal {
  background-color: #a8a878;
}
